#fun-text {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    text-decoration: underline;
    background-color: rgb(68, 0, 255);
}